<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card-box">
            <h4 class="header-title mb-3">Employee</h4>      
            <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" formControlName="FirstName" required>
              
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" formControlName="LastName" required>
              
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="Email" required>
              
                <label for="mobileNo">Mobile No:</label>
                <input type="text" id="mobileNo" formControlName="MobileNo" required>
              
                <label for="gender">Gender:</label>
                <input type="text" id="gender" formControlName="Gender" required>
              
                <label for="status">Status:</label>
                <input type="text" id="status" formControlName="Status" required>
              
                <button type="submit" [disabled]="!employeeForm.valid">Save Employee</button>
              </form>
        </div>
    </div>
</div>


<div class="row">

    <div *ngIf="employees">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Gender</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{emp.FirstName}}</td>
                    <td>{{emp.LastName}}</td>
                    <td>{{emp.Email}}</td>
                    <td>{{emp.MobileNo}}</td>
                    <td>{{emp.Gender}}</td>
                    <td>{{emp.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button class="btn btn-primary" (click)="saveEmployee()">Save New Employee</button>